[submodule "Orgen/vendor/spdlog"]
	path = Orgen/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Orgeng/vendor/GLFW"]
	path = Orgeng/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Orgeng/vendor/imgui"]
	path = Orgeng/vendor/imgui
	url = https://github.com/TheCherno/imgui
